<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel Tests Suite" parallel="methods" thread-count="6">
    <test name="Test 1">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="com.enable.tests.CheckoutProcessTests" />
        </classes>
    </test>

</suite>
